{% macro term_links(terms,  level) %}
  {% if terms %}
    <ul class="level-{{ level }}">
    {% for term in terms %}
      {% set term_path = path('entity.taxonomy_term.canonical', {'taxonomy_term': term.tid }) %}
      {% set is_active = term_path == path('<current>') ? 'active' : 'not-active' %}
      <li>
        <a class="{{ is_active }}" href="{{ term_path }}">{{ term.name }}</a>
        {% if term.children %}
          {{ _self.term_links(term.children, level+1) }}
        {% endif %}
      </li>
    {% endfor %}
    </ul>
  {% endif %}
{% endmacro %}
{#
  Invoke the custom macro defined above. If classes were provided, use them.
This allows the template to be extended without having to also duplicate the
code above. @see http://twig.sensiolabs.org/doc/tags/macro.html
#}
{{ _self.term_links(terms, 0) }}
